    <title>
    <%-config.title %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name=”Keywords” Content=”生活,西安,马佳宜,博客″>
	<meta name=”Description” Content=”喜马拉雅以南的技术生活博客，还是有点挂念朋友马佳宜”>
<link rel="stylesheet" href="<%- config.root %>css/mic_gallery.css" />
