<!-- 使用 LiveRe -->
<div id="LiveRe-comment">
    <%- partial('_widget/comment/LiveRe/main') %>
</div>

<style>
    #LiveRe-comment{
        background-color: #eee;
        padding: 2pc;
    }
</style>